:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.record-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 5rem;
  align-items: center;
  gap: 34px;
  margin-top: 57px;
}

.record-list-container button {
  margin-right: 20px;
  cursor: pointer;
}
.cart-list-container button {
  margin: 0.5rem;
  cursor: pointer;
}

.record-card {
  border: 2px solid;
  padding: 1rem;
  min-width: 15rem;
  max-width: 100%;
  border-radius: 5px;
}
.record-card img {
  width: 15rem;
  border-radius: 5px;
}

.cart-item {
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

.cart-item img {
  width: 15rem;
  border-radius: 5px;
  border-radius: 5px;
}

.cart-info {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.cart-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}
.cart-top {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.cart-button-container {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.links-right a,
.links-left a {
  margin: 1rem;
}

.record-actions {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
